@font-face {
    font-family: "Open Sans";
    src: url("resources/font/OpenSans_RegBold.ttf");
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url("resources/img/bg.png");
    background-attachment: fixed;
    background-size: cover;
}

header{
    text-align: center;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.content a img{
    border: 5px solid rgba(119, 96, 96, 0.5);
    border-radius: 10px;
}

.content a img:hover{
    transition: 500ms;
    transform: scale(1.02);
    border: 5px solid rgba(119, 96, 96, 1);
}
.left, .mid, .right{
    padding: 0px;
    width: 300px;
}

.mid p{
    margin:auto;
}

.left img, .mid img, .right img{
    width: 300px;
    height: 400px;
}

.left p, .mid p, .right p{
    font-size: 18px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
}

footer{
    font-family: "Open Sans";
    font-weight: 700;
    margin-top: 50px;
    background-color: rgba(119, 96, 96, 0.5);
    padding: 5px 5px 0px 5px;
}

footer img{
    width: 5%;
}
