body{
    margin: 0px;
    padding: 0px;
    background-image: url("recipes/img/bg.png");
    background-attachment: fixed;
    background-size: cover;
}

header{
    text-align: center;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 1s;
    margin-top: 50px;
    gap: 50px;
}

.content a img{
    border: 5px solid rgba(119, 96, 96, 0.5);
    border-radius: 10px;
}

.content a img:hover{
    transition: 500ms;
    transform: scale(1.02);
    border: 5px solid rgba(119, 96, 96, 1);
}

.left img, .mid img, .right img{
    width: 300px;
    height: 400px;
}

.left p, .mid p, .right p{
    font-size: 20px;
    text-align: center;
}